/BootstrappingReport.pytxcode
/BootstrappingReport.run.xml
/BootstrappingReport.synctex.gz
/BootstrappingReport.log
/BootstrappingReport.fls
/BootstrappingReport.fdb_latexmk
/BootstrappingReport.blg
/BootstrappingReport.bcf
/BootstrappingReport.bbl
/BootstrappingReport.aux
/pythontex-files-BootstrappingReport/
/pythontex-files-BootstrappingReport/BootstrappingReport.pytxmcr
/pythontex-files-BootstrappingReport/BootstrappingReport.pytxpyg
/pythontex-files-BootstrappingReport/py_default_default_0.stdout
/pythontex-files-BootstrappingReport/pythontex_data.pkl
/out/BootstrappingReport.log
/out/
